* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: rgb(255, 255, 255, 0.5);
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 50%;
  height: auto;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.container__title {
  font-size: 1rem;
  font-weight: 200;
  width: 100%;
  height: auto;
  padding: 1.5rem;
}

.formulary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.formulary__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0.5rem;
}

.formulary__input {
  width: 100%;
  height: auto;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 200;
  font-style: italic;
  color: #333;
  background-color: #fff;
}

.formulary__clear-button {
  width: 100%;
  height: auto;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 200;
  color: #333;
  background-color: #fff;
}

.formulary__button {
  width: 100%;
  height: auto;
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 200;
  color: #333;
  background-color: #fff;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0.5rem;
}
